<section class='user-section-card'>
<div class="user-img"><img src="<%= user.photo %>" alt="user_photo"></div>

<div class="user-card">
  <div class="user-card__name">
    <%= user.name %>
  </div>
  <div class="user-card__email">
  <p>Number of posts:<%= user.posts.length %> </p>  
  </div>
</section>